body, html{
  height: 100%;

}

body{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuM1SrHrpW4C3rCXiUdoCPlz0urinHgpOmBpGJiRs62hPyq_sHgg");
  
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;

}

label{
  color: white;
}

h3 {
  color: white;
}

main{
  width: 80vw;
  margin: 0 auto;
}

form input {
  margin: 1rem;
}

.textbox{
  max-width: 200px;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}

.textbox input{
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid blue;
}

.textbox input:focus{
  outline: none;
}

.textbox input:focus ~ .highlight {
  animation: inputHighlight 0.3s ease;
}
